<html>

<body class="bg">
    <div class="card">
        <div class="imgBox">
            <div class="bark"></div>
            <img src="https://image.ibb.co/fYzTrb/lastofus.jpg">
        </div>
        <div class="details">
            <h4 class="color1">You're not a Fossil! (YET)</h4>
            <h4 class="color2 margin">(HAPPY BIRTHDAY)</h4>
            <p>Hey ,</p>
            <p>“It seems such a </p>
            <p>great day to say</p>
            <p> we feel so lucky</p>
            <p> that you came our way!"</p>
            <p> Make it grand!”</p>
            <p class="text-right">Happy Birthday</p>
            <p class="text-right">♥ADMIN</p>
        </div>
    </div>
</body>




























</html>