 .example-action-button {
    margin-bottom: 8px;
  }
   
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
   
  .example-full-width {
    width: 70%;
    }
   
  input[type=submit] {
    background-color: #7f118d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
   
  .container {
    border-radius: 50px;
    background-color: #f2f2f2;
    padding-top: 3%;
    width: 30%;
    align-self: center;
    margin: auto;
  } 
  .center {
    margin: auto;
    width: 62%;
    padding: 5px;
    text-align: left;
    font-size: 10%;
  }
  .bg {
    /* The image used */
    /* background-image: url("https://i.pinimg.com/originals/e4/93/ac/e493ace484af4b107fc2e9a1d1debce0.jpg"); */
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: -webkit-linear-gradient(337deg, rgb(30, 131, 139) 0%, rgb(41, 188, 196) 20%, rgb(99, 233, 236) 80%, rgb(97, 232, 235) 100%);
  background: -o-linear-gradient(337deg, rgb(30, 131, 139) 0%, rgb(41, 188, 196) 20%, rgb(99, 233, 236) 80%, rgb(97, 232, 235) 100%);
  background: -ms-linear-gradient(337deg, rgb(30, 131, 139) 0%, rgb(41, 188, 196) 20%, rgb(99, 233, 236) 80%, rgb(97, 232, 235) 100%);
  background: -moz-linear-gradient(337deg, rgb(30, 131, 139) 0%, rgb(41, 188, 196) 20%, rgb(99, 233, 236) 80%, rgb(97, 232, 235) 100%);
  background: linear-gradient(113deg, rgb(30, 131, 139) 0%, rgb(41, 188, 196) 20%, rgb(99, 233, 236) 80%, rgb(97, 232, 235) 100%);
  }
  .registerbutton{
   
    padding: 5px;
    text-align: center;
    align-content: center;

  }